// Page wrappers

.wrap {
  margin: 1rem auto;
  padding: 1rem;
}

.main-content {
  margin: 0 auto;
  max-width: 1000px;
  img {
    text-align: center;
  }
}

.box {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
  border: 1px solid #e1e1e1;
  border-radius: .5rem;
  text-align: left;
}
